In [67]:
import pandas as pd

import pymongo
client = pymongo.MongoClient("localhost:27017")
db = client["Ironhack"]

In [68]:
londonneigh = db.get_collection("londonneigh")

In [69]:
#london_party = db.get_collection("london_party")
#london_schools = db.get_collection("london_schools")
#london_starbucks = db.get_collection("london_starbucks")
#london_vegans = db.get_collection("london_vegans")
#london_basketball = db.get_collection("london_basketball")
#london_dogsaloons = db.get_collection("london_dogsaloons")

In [70]:
def venues_london_df ():
    
    #1. For every collection
        # 2. For every neighborhood
    
    new_list = []
    venues = ["london_party", "london_schools","london_starbucks", "london_dogsaloon", "london_vegans"]
    neighborhoods = ["Camden", "Wesminster", "Kensington and Chelsea"]
    
    # 1. 
    for venue in venues:
        venues_connection = db.get_collection(venue)
        # 2. Loop the neighs
        for n in neighborhoods:
            londonneigh = db.get_collection("londonneigh")
            neighborhood_polygon = londonneigh.find_one({"properties.name": n})
            
            if neighborhood_polygon:
                results = list(venues_connection.find({
                    "location": {
                        "$geoWithin": {
                            "$geometry": neighborhood_polygon["geometry"]
                        }
                    }
                }))
                

                if results:
                    for i in results:
                        dict_ = {
                            "Venue name": i["name"],
                            "Category": venue,
                            "Lat": i["location"][1],
                            "Lon": i["location"][0],
                            "Neighborhood": n,
                        }

                        new_list.append(dict_)

    # Create a DataFrame from the result
    df = pd.DataFrame(new_list)

    return df

In [71]:
df = venues_london_df()
df = df.drop_duplicates()
df

Empty DataFrame
Columns: []
Index: []

In [72]:
category_count = df.groupby(["Category", "Neighborhood"]).size().reset_index(name="Count")

# Pivot the table to get a proper format
category_count_table = category_count.pivot_table(index="Category", columns="Neighborhood", values="Count", fill_value=0)
category_count_table = category_count_pivot.astype(int)

# Print the result
print(category_count_pivot)

KeyError: 'Category'

In [ ]:
#folium radio

In [ ]:
def venues_london_df (venues_collection, neigh_collection):
    
    columns = ["Venue name", "Type", "Location", "Neighborhood"]
    final_df = pd.DataFrame(columns=columns)
    
    for document in range(len(venues_collection)):
            for neihgborhood in neigh_collection:
                list(venues_collection.find({
                        "location": { 
                            "$geoWithin": { 
                                "$geometry": neighborhood
                            }
                        }
            }))